<section>
  <h2>InDepth guide to passing data via routing</h2>
  <a mat-raised-button color="primary" routerLink="full">Full Profile</a>
  <a mat-raised-button color="primary" routerLink="short">Short Profile</a>
  <a mat-raised-button color="primary" routerLink="create-profile">Create Profile</a>
</section>

<section>
  <h2>InDepth guide to passing parameters via routing</h2>
  <a mat-raised-button color="primary" routerLink="profile/1" queryParamsHandling="preserve">Profile A</a>
  <a mat-raised-button color="primary" routerLink="profile/2" queryParamsHandling="preserve">Profile B</a>
  <a mat-raised-button color="primary" routerLink="profile/3" queryParamsHandling="preserve">Profile C</a>
</section>
